{% extends '::base.html.twig' %}

{% block body %}
    <div>
        {% if parentmenu %}
            <h1>Create new menu under {{ parentmenu.title }}</h1>
        {% else %}
            <h1>Create new Top Level menu</h1>
        {% endif %}
        {{ form_start(menuForm) }}
        {{ form_row(menuForm.title) }}
        {{ form_row(menuForm.url) }}
        <a href="{{ path('matuckmenumanage', {'menu': parentmenu.getRoot().getId()}) }}" class="btn btn-primary pull-right" role="button"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>
        <button type="submit" value="Submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"> </span> Create</button>
        {{ form_end(menuForm) }}
    </div>
{% endblock %}