{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <h1>Edit Menu {{ menu.title }}</h1>
        {{ form_start(menuForm) }}
        {{ form_row(menuForm.title) }}
        {{ form_row(menuForm.url) }}
        <a href="{{ path('matuckmenumanage', {'menu': menu.getRoot().getId()}) }}" class="btn btn-primary pull-right" role="button"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>
        <button type="submit" value="Submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-floppy-save"> </span> Save</button>
        {{ form_end(menuForm) }}
    </div>
{% endblock %}