{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <h1>Edit Menu {{ menu.title }}</h1>
        {{ form_start(menuForm) }}
        {{ form_row(menuForm.title) }}
        {{ form_row(menuForm.url) }}
        <a href="{{ path('adminmenu') }}" class="btn btn-primary pull-right" role="button">Cancel</a>
        <button type="submit" value="Submit" class="btn btn-primary pull-right">Save</button>
        {{ form_end(menuForm) }}
    </div>
{% endblock %}